{% extends 'base.html.twig' %}

{% block body %}
<div class="row">
    <div class="col-12 text-center">
        <h1>Bienvenue sur votre dashboard {{app.user}}</h1>
    </div>
    <div class="col-12">
        <div class="card p-4">
            <div class="row">
                <div class="col-12 p-3">
                    <h4>Vos Quiz</h4>
                </div>
                {% if quiz %}
                {% for item in quiz %}
                <div class="col-4 p-4">
                    <a href="/pro/show-result/{{item.id}}" style="background-color: blueviolet; text-decoration: none;"
                        class="card d-flex p-4">
                        <p class="m-auto text-white">Quiz : <span class="fw-semibold">{{item}}</span></p>
                    </a>
                </div>
                {% endfor %}
                {% endif %}
            </div>
        </div>
    </div>

    <div class="col-4"></div>
</div>
{% endblock %}