{% extends 'base.html.twig' %}

{% block title %}Hello DashboardController!{% endblock %}

{% block body %}
<div class="row">
    <div class="col-6 mt-2">
        <div class="card">
            <div class="card-body">
                <h5>Gestion des reponses</h5>
                <a href="/admin/reponse" class="btn btn-primary">Gérer</a>
            </div>
        </div>
    </div>
    <div class="col-6 mt-2">
        <div class="card">
            <div class="card-body">
                <h5>Gestion des questions</h5>
                <a href="/admin/question" class="btn btn-primary">Gérer</a>
            </div>
        </div>
    </div>
    <div class="col-6 mt-2">
        <div class="card">
            <div class="card-body">
                <h5>Gestion des quiz</h5>
                <a href="/admin/quiz" class="btn btn-primary">Gérer</a>
            </div>
        </div>
    </div>
    <div class="col-6 mt-2">
        <div class="card">
            <div class="card-body">
                <h5>Ajouter un pro</h5>
                <a href="/admin/register-pro" class="btn btn-primary">Gérer</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}